config/private.yml
blobs
dev_releases
releases/*.tgz
releases/**/*.tgz
releases/**/*.tar.gz
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/jobs/**/*.tar.gz
.final_builds/packages/**/*.tgz
.final_builds/packages/**/*.tar.gz
.DS_Store
.idea
*.swp
*~
*#
#*
